@tailwind base;
@tailwind components;
@tailwind utilities;

pre {
  position: relative !important;
}

.adong {
  color: #adb5bd;
  box-sizing: border-box;
  transition: 0.2s ease-out;
  cursor: pointer;
  user-select: none;
  background: rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(0, 0, 0, 0);
  padding: 5px 10px;
  font-size: 0.8em;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  border-radius: 0 0.15rem;
}

.adong:hover {
  color: black;
  background: white;
}

lume-code {
  display: block;

  & pre {
    margin-top: 0 !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
  }

  & .hljs {
    border-radius: 0 0 10px 10px !important;
    border-top: 0 !important;
  }

  & .lume-code-menu {
    position: relative;
    display: flex;
    list-style: none;
    padding: 0 1em 0 88px;
    margin: 0;
    background: hsl(200deg, 20%, 18%);
    border-radius: 10px 10px 0 0;
    overflow-x: auto;
    column-gap: 1px;

    & li {
      margin: 0;
      white-space: nowrap;
      padding-inline-start: 0 !important;
    }
  }

  & .lume-code-menu::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    width: 88px;
    height: 100%;
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg width="54" height="14" viewBox="0 0 54 14" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="7" cy="7" r="7" fill="%23FF5533"/><circle cx="27" cy="7" r="7" fill="%23E6CF5C"/><circle cx="47" cy="7" r="7" fill="%237ACC52"/></svg>');
    background-repeat: no-repeat;
    background-position: 16px 14px;
  }
}

.lume-code-tab {
  --background: hsl(200deg, 20%, 18%);
  --background-hover: var(--color-background-3);

  display: block;
  border: none;
  border-radius: 0;
  padding: 10px 1em;
  font: var(--text-caption);
  cursor: pointer;
  transition-property: background-color, color;
  transition-duration: var(--animation-duration);
  background: hsl(200deg, 20%, 18%);
  color: var(--color-foreground-1);

  &:hover {
    background: hsl(200deg, 20%, 14%);
    color: var(--color-foreground);
  }

  &.is-active {
    background: hsl(200deg, 20%, 14%);
    color: hsl(200deg, 20%, 100%);
    font: var(--text-caption-bold);
  }
}



.markdown-alert {
  --color: currentColor;
  margin-block: 1.5rem;
  padding: .5rem 1rem;
  border-left: solid 6px var(--color);
  font: var(--font-ui);
  color: var(--color-text);

  & :last-child {
    margin-top: 10px;
    margin-bottom: 0;
  }
}

.markdown-alert-title {
  color: var(--color);
  font: var(--font-ui-bold);
  margin: 0;
  display: flex;
  align-items: center;
  column-gap: .5em;

  &::before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background: var(--img) no-repeat center center;
  }
}

.markdown-alert-tip {
  --color: hsl(140, 100%, 25%);
  background-color: #e6f6e6;
  --img: url('data:image/svg+xml;charset-UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="hsl(140, 100%, 25%)" viewBox="0 0 256 256"><path d="M176,232a8,8,0,0,1-8,8H88a8,8,0,0,1,0-16h80A8,8,0,0,1,176,232Zm40-128a87.55,87.55,0,0,1-33.64,69.21A16.24,16.24,0,0,0,176,186v6a16,16,0,0,1-16,16H96a16,16,0,0,1-16-16v-6a16,16,0,0,0-6.23-12.66A87.59,87.59,0,0,1,40,104.49C39.74,56.83,78.26,17.14,125.88,16A88,88,0,0,1,216,104Zm-16,0a72,72,0,0,0-73.74-72c-39,.92-70.47,33.39-70.26,72.39a71.65,71.65,0,0,0,27.64,56.3A32,32,0,0,1,96,186v6h64v-6a32.15,32.15,0,0,1,12.47-25.35A71.65,71.65,0,0,0,200,104Zm-16.11-9.34a57.6,57.6,0,0,0-46.56-46.55,8,8,0,0,0-2.66,15.78c16.57,2.79,30.63,16.85,33.44,33.45A8,8,0,0,0,176,104a9,9,0,0,0,1.35-.11A8,8,0,0,0,183.89,94.66Z"></path></svg>');
}

.markdown-alert-warning {
  --color: hsl(50, 100%, 30%);
  background-color: #fffae3;
  --img: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 1024'%3E%3Cpath d='M576.286 752.57v-95.425q0-7.031-4.771-11.802t-11.3-4.772h-96.43q-6.528 0-11.3 4.772t-4.77 11.802v95.424q0 7.031 4.77 11.803t11.3 4.77h96.43q6.528 0 11.3-4.77t4.77-11.803zm-1.005-187.836 9.04-230.524q0-6.027-5.022-9.543-6.529-5.524-12.053-5.524H456.754q-5.524 0-12.053 5.524-5.022 3.516-5.022 10.547l8.538 229.52q0 5.023 5.022 8.287t12.053 3.265h92.913q7.032 0 11.803-3.265t5.273-8.287zM568.25 95.65l385.714 707.142q17.578 31.641-1.004 63.282-8.538 14.564-23.354 23.102t-31.892 8.538H126.286q-17.076 0-31.892-8.538T71.04 866.074q-18.582-31.641-1.004-63.282L455.75 95.65q8.538-15.57 23.605-24.61T512 62t32.645 9.04 23.605 24.61z' fill='%23e6a700'/%3E%3C/svg%3E");
}

.markdown-alert-caution {
  --color: hsl(0, 90%, 35%);
  background-color: #ffebec;
  --img: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M12 2c5.523 0 10 4.477 10 10v3.764a2 2 0 0 1-1.106 1.789L18 19v1a3 3 0 0 1-2.824 2.995L14.95 23a2.5 2.5 0 0 0 .044-.33L15 22.5V22a2 2 0 0 0-1.85-1.995L13 20h-2a2 2 0 0 0-1.995 1.85L9 22v.5c0 .171.017.339.05.5H9a3 3 0 0 1-3-3v-1l-2.894-1.447A2 2 0 0 1 2 15.763V12C2 6.477 6.477 2 12 2zm-4 9a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4z' fill='%23e13238'/%3E%3C/svg%3E");
}